:root {
    --primaryColor: #502EBC;
    --secondaryColor: #2a107d;
    --green: #556B2F;
    --darkPurple: #3F0F6F;
    --gold: #FFD700;
}
.flex-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    flex: 60%;
    display: grid;
    margin-left: 20px;
}
.aboutmeTitle h1 {
    font-size: 100px;
    color: var(--darkPurple);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}
.aboutmeTitle, .aboutmeBody {
    margin: 0 0 0 50px;
}
.aboutmeBody {
    margin: 0 50px 0 50px;
    font-size: 18px;
    color: var(--darkPurple);
}
.aboutmeBody p, .aboutmeBody li{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.aboutmeBody p b, .aboutmeBody li b {
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.svgs {
    margin-top: 10%;
    display: flex;
    flex: 40%;
}
.flakeObject {
    animation: rotateObject 5s linear infinite;
    position: absolute;
    left: 80%;
    top: 18%;
    opacity: 0.9;
}
.flakeObject svg path {
    fill: var(--secondaryColor);
}
.pictureObject {
    position: absolute;
    left: 70%;
    top: 20%;
}
.pictureObject svg path {
    fill: var(--green);
}
@keyframes rotateObject {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@media only screen and (max-width: 1280px) {
    .pictureObject {
        left: 70%;
        top: 15%;
    }
    .pictureObject svg, .flakeObject svg {
        width: 80%;
    }
    .flakeObject {
        left: 77%;
        top: 17%;
    }
    .svgs {
        overflow: hidden;
    }
}
@media only screen and (max-height: 629px) {
    .pictureObject {
        width: 80%;
    }
}
@media only screen and (max-width: 700px) {
    .flakeObject {
        left: 55%;
        top: 35%;
        transform-origin: center;
    }
    .pictureObject {
        width: 80%;
        position: relative;
        top: 10%;
        left: 23%;
    }
    .flex-container {
        flex-direction: column;
        margin-top: 0;
    }
    .text {
        order: 2;
    }
    .svgs {
        order: 1;
    }
}