:root {
    --primaryColor: #502EBC;
    --secondaryColor: #2a107d;
    --green: #556B2F;
    --darkPurple: #3F0F6F;
}
* {
    font-family: "Times New Roman", Times, serif;
}
body {
    max-width: 100%;
}
section {
    display: none;
}
section.active {
    display: block;
}
.hidden {
    display: none;
}
.HomeInfo {
    display: grid;
    max-width: 100%;
    margin-top: 10%;
    margin-left: 100px;
    margin-right: 100px;
    gap: 5px;
}
.grid-item {
    align-items: center;
    padding: 5px;
    display: relative;
    max-width: 100%;
}
.name {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin-top: 10%;
    margin-left: 60px;
    text-align: left;
    color: var(--darkPurple);
}
.name h1 {
    margin: 0;
    font-size: 80px;
    font-weight: bold;
}
.name h2 {
    margin: 0;
    font-size: 25px;
}
.name p {
    margin: 0;
    font-style: italic;
    font-size: 30px;
}
.nameColor {
    color: #FDF8EC;
    background-color: rgba(85, 107, 47, .9);
    overflow: hidden;
    display: block;
    animation: openclose 1.3s ease-in-out infinite;
}
@keyframes openclose {
    0% {
      width: 0;
      padding-left: 10px;
    }
    100% {
      width: 170px;
      padding-left: 10px;
    }
}
.image {
    grid-column: 1;
    grid-row: 1 / span 2;
    text-align: center;
    margin: auto;
}
.image img {
    width: 500px;
    transition: .5s;
    align-items: center;
}
.image img:hover {
    transform: scale(1.1);
}
.contactInfo {
    display: flex;
    grid-row: 2;
    grid-column: 2 / span 2;
    margin-left: 60px;
}
.contactInfo > div {
    padding: 10px;
}
.contactInfo img {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.contactInfo img:hover {
    opacity: 0.6;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    color: gray;
}
@media only screen and (max-width: 1024px) {
    .HomeInfo {
        grid-template-columns: auto;
        margin: 70px auto 0;
        padding: 20px;
        max-width: 100%;
    }

    .grid-item {
        grid-column: auto;
        grid-row: auto;
        padding: 40px;
        margin-top: 40px;
        max-width: 100%;
    }

    .name, .contactInfo, .image {
        margin-left: 0;
    }

    .name {
        text-align: center;
    }

    .name h1 {
        font-size: 60px;
        text-align: center;
    }

    .nameColor {
        text-align: center;
        animation: none;
        border-radius: 20px;
    }

    .name h2 {
        font-size: 20px;
    }

    .name p {
        font-size: 15px;
    }

    .contactInfo {
        margin-top: 0;
        padding-top: 0;
        justify-content: center;
        padding-bottom: 0;
    }

    .image {
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
        max-width: 100%;
    }

    footer {
        position: relative;
    }
}
@media only screen and (max-width: 700px) {
    .grid-item {
        position: relative;
        max-width: 100%;
    }
    .HomeInfo {
        margin-top: 0;
    }
    .name {
        padding-bottom: 0;
        margin-top: 0;
    }
    .image, .contactInfo {
        margin: 0;
    }
    .image img {
        width: 100%;
    }
    footer {
        position: relative;
    }
}
@media only screen and (max-height: 629px) {
    .HomeInfo {
        margin-top: 10%;
    }
    .image img {
        width: 80%;
    }
    .name h1 {
        font-size: 5em;
    }
    .name p {
        font-size: 1.5em;
    }
    footer {
        position: relative;
    }
}
/* @media only screen and (min-height: 629px ) {
    footer {
        position: absolute;
    }
} */