:root {
    --primaryColor: #502EBC;
    --secondaryColor: #2a107d;
    --green: #556B2F;
    --darkPurple: #3F0F6F;
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */
.nav-container {
    display: flex;
    position: absolute;
    left: 0;
    height: 100px;
    max-width: 100%;
    margin-bottom: 50px;
}
.menu-items {
    list-style: none;
    justify-content: flex-end;
    position: absolute; 
    top: 10px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 90px;
    z-index: 980;
    opacity: 0;
    text-decoration: none;
    transition: opacity 0.5s ease;
    color: var(--secondaryColor);
    font-weight: 500;
    font-size: 25px;
}
.menu-items li {
    padding: 20px;
    transition: background-color 0s;
}
.menu-items li:hover {
    color: #556B2F;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
}
/* Using checkbox to interact with hamburger menu and animation */
.nav-container .checkbox {
    position: absolute;
    display: block;
    margin-top: 20px;
    margin-right: 15px;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 995;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    margin-top: 20px;
    margin-right: 15px;
    top: 17px;
    right: 20px;
    z-index: 990;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--primaryColor);
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.homeLogo img {
    flex: 1;
    position: absolute;
    width: 80px;
    height: auto;
    margin-left: 25px;
    margin-top: 30px;
    z-index: 999;
    cursor: pointer;
}
.homeLogo img:hover {
    opacity: 0.6;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    opacity: 0.9;
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 700px) {
    .nav-container {
        position: relative;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 0;
        max-width: 100%;
        flex-direction: column;
        align-items: center; 
        height: auto; 
        background-color: rgba(255, 255, 255, 0.5);
    }
    .menu-items {
        position: relative;
        max-width: 100%; 
        margin-right: 0; 
        margin-top: 10px; 
        opacity: 1; 
        flex-direction: column; 
        text-align: center; 
    }
    .menu-items {
        opacity: 1;
     }
    .nav-container .hamburger-lines, .checkbox {
        visibility: hidden;
    }
    .menu-items li {
        padding: 10px 0; 
        border-bottom: none; 
    }
    .homeLogo img {
        position: relative;
        margin-left: 0; 
        margin-top: 0; 
        margin-bottom: 10px; 
    }
}