:root {
    --primaryColor: #502EBC;
    --secondaryColor: #2a107d;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-container {
    display: flex;
    position: relative;
    height: 60px;
    width: 100%;
}
.nav-container a {
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: 500;
    font-size: 40px;
}
.nav-container a:hover{
    font-weight: bolder;
}
.menu-items {
    list-style: none;
    display: flex;
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: #ddccff;
}
.menu-items li {
    padding: 20px;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    margin-top: 20px;
    margin-right: 15px;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    margin-top: 20px;
    margin-right: 15px;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--primaryColor);
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.homeLogo {
    flex: 1;
    position: absolute;
}
.homeLogo img {
    width: 80px;
    height: auto;
    margin-left: 25px;
    margin-top: 30px;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .homeLogo {
        align-items: center;
        margin-bottom: 10px;
    }
    
}