:root {
    --primaryColor: #502EBC;
    --secondaryColor: #2a107d;
    --green: #556B2F;
    --darkPurple: #3F0F6F;
    --gold: #FFD700;
    --lightViolet: #E4CCFF;
}

.workTitle h1 {
    font-size: 3rem; /* Responsive scaling */
    color: var(--darkPurple);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 60px;
}

.workTitle p {
    font-size: 1rem;
    margin-left: 70px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
    color: var(--secondaryColor);
    font-family: "Lato", sans-serif;
}

.flex-container.work {
    position: relative;
    margin-top: 100px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    width: 100%;
}

@media (max-width: 480px) {
  .workTitle h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    text-align: center;
    font-size: 2em;
  }
  
  .workTitle p {
    margin: 5px;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 351px) {
  .workTitle h1 {
    font-size: 1.3em;
  }

  .workTitle p {
    font-size: 0.75em;
  }

  .flex-container.work {
    margin-right: 0;
  }
}